<!doctype html>
<html>
  <head>
    <title>flask-peewee site shell</title>
    <link rel=stylesheet type=text/css href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <link rel=stylesheet type=text/css href="{{ STATIC_URL }}css/style.css" />
    {% block extra_head %}{% endblock %}
    <script src="{{ STATIC_URL }}js/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alerts.js"></script>
    {% block extra_scripts %}{% endblock %}
    {% comment %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-XXXXXXX']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endcomment %}
  </head>
  
  <body>
  
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Branding</a>

          <ul class="nav">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
          </ul>
          {% if request.user.is_authenticated %}
          <form action="/accounts/logout/?next={{ request.path }}" class="pull-right" method="post">
            {% csrf_token %}
            <button class="btn" type="submit">Log out</button>
          </form>
          {% else %}
          <form action="/accounts/login/?next={{ request.path }}" class="pull-right" method="post">
            {% csrf_token %}
            <input class="input-small" name="username" type="text" placeholder="Username">
            <input class="input-small" name="password" type="password" placeholder="Password">
            <button class="btn" type="submit">Log in</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="content">
          {% for message in messages %}
          <div class="alert-message {{ message.tags }}">
            <a class="close" href="#">×</a>
            <p>{{ message }}</p>
          </div>
        {% endfor %}
        <div class="page-header">
          <h1>{% block content_title %}{% endblock %}</h1>
        </div>
        <div class="row">
          <div class="span12">
            {% block content %}{% endblock %}
          </div>
          <div class="span4 sidebar">
            {% block sidebar %}{% endblock %}
          </div>
        </div>
      </div>

      <footer>
        <p>Shell site</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
