{% extends "registration/base_registration.html" %}


{% block title %}Log in{% endblock %}
{% block body_class %}{{ block.super }} login_form{% endblock %}


{% block content_title %}
  <h2>Log in</h2>
{% endblock %}


{% block content %}
  {% if form.non_field_errors %}
    <div class="alert-message error">
    {% for error in form.non_field_errors %}
      <p>{{ error }}</p>
    {% endfor %}
    </div>
  {% endif %}
  <form action="." method="post" class="login_form">{% csrf_token %}
    {% for field in form %}
      {% include "includes/field.html" %}
    {% endfor %}
    <div class="actions">
      <button class="btn primary" type="submit" value="Login">Log in</button>
      <a class="btn" href="{% if next %}{{ next }}{% else %}javascript:history.go(-1);{% endif %}">Cancel</a>
    </div>
    {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
  </form>
{% endblock %}
